@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  background-color: orange;
  color: white;
  font-family: 'Press Start 2P', cursive;
  color: rgb(199, 38, 33);
  text-align: center;
  font-size: x-small;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: fit-content;
  }
  nav {
    font-size: small;
    text-align: center;
    justify-self: center;
  }
  .choose {
    font-size: small;
  }
  .selection {
    width: fit-content;
  }
  #game {
    width: fit-content;
    font-size: small;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    width: fit-content;
  }
}
nav {
  text-align: center;

  width: auto;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  nav {
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.choose {
  text-align: center;
}

.selection {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#game {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  margin: auto;
  width: 50%;
  padding: 10px;
  flex-wrap: wrap;
}

#pokeData {
  display: flex;

  width: fit-content;
  margin: auto;

  padding: 10px;
}

.pokeSprite {
  height: 200px;
  width: 200px;
}

#gameContainer {
  transition: ease;
  display: flex;
  flex-direction: column;
}
h3 {
  text-align: center;
}
button {
  color: rgb(199, 38, 33);
  background-color: orange;
  font-family: 'Press Start 2P', cursive;
  transition-duration: 0.25s;
  cursor: pointer;
  padding: 10px;
  font-size: x-small;
}

button:hover {
  background-color: rgb(199, 38, 33);
  transform: scale(1.2);
  color: orange;
}
#restart {
  display: flex;
  justify-content: center;
}
