/* page 1 */
body {
  background-color: #e85d04;
  color: #f8e004;
  font-family: 'Press Start 2P', cursive;
  margin: 0 auto;
}
/* targeting main body page for background image */
#mainBody {
  background-image: url('https://wallpaperaccess.com/full/556526.jpg');
  max-width: 100%;
  height: auto;
}
img {
  width: auto;
  margin: auto 0;
  height: auto;
}
/* styling game start button */
button {
  display: inline;
  border-style: groove;
  background-color: #f48c06;
  color: #d00000;
  padding: 20px;
  width: 400px;
  font-size: medium;
  font-family: 'Press Start 2P', cursive;
  border-color: #d00000;
  /* margin-top: 45px; */
}
/* to hide clickable div only when user starts game */
.hiddenPoke {
  display: none;
}
/* styling pokemon divs */
#CharizardID,
#TyphlosionID {
  border: solid 1em #e85d04;
  text-align: center;
}
/* styling moves */
#FlameThrower,
#fireBlast {
  background-color: #9d0208;
}
#centerDiv {
  text-align: center;
}
#charPic {
  float: right;
  height: 200px;
  width: 200px;
}
#typhPic {
  float: left;
  height: 200px;
}
#char {
  float: right;
  margin-top: 50px;
}
#typh {
  float: left;
  margin-top: 50px;
}
#startP {
  text-align: center;
}
#gameMusic {
  opacity: 70%;
  text-align: center;
}
a {
  text-align: center;
  font-size: large;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
#gameOverMessage {
  display: grid;
  text-align: center;
}
/* page two */
.page2body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  align-content: space-between;
  font-size: large;
  background-color: #370617;
  color: #f48c06;
}
/* div in article tags */
.page2Ptags {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.75em;
  padding: 50px;
}
/* header page2 */
.header2Class {
  opacity: 50%;
}
/* footer page2 */
.footer2 {
  margin-top: auto;
  margin-bottom: 85px;
  font-size: 40px;
}
/* containing 3 sprites middle of page */
.imgDiv {
  height: 400px;
  width: 350px;
}
#pokeOakPic {
  height: 150px;
  width: 300px;
}
